@media only screen and (orientation: landscape){
  :root {
    --base-size: calc(100vh/3.5);
  }
}
@media only screen and (orientation: portrait){
  :root {
    --base-size: calc(100vw/3.5);
  }
}

*{
  padding:0;
  margin:0;
}

.main {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* margin: calc(var(--base-size)/40); */
      }


[name=box]{
  border-radius: calc(var(--base-size)/5);
  width: var(--base-size);
height: var(--base-size);
margin: calc(var(--base-size)/20);

}

.active {
  border: calc(var(--base-size)/40) inset rgb(2, 66, 16);
  background-color: rgb(1, 134, 12);
      }

     

.inactive {
  border: calc(var(--base-size)/40) inset rgb(87, 1, 5);
  background-color: rgb(199, 4, 4);
    }

    #winBox{
      text-align: center;
      font-family: "Lucida Console", Courier, monospace;
    }
